<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cae.appstate.edu/sites/default/files/styles/asu_news_preview/public/asu_news/zoom-logo_2.png?itok=pemphloF" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Zoom Clone Room</title>
    <script src="script.js" defer></script>
    <script>
        console.log("<%= roomId %>");
    </script>
</head>
<body>
    <div id="video-grid"></div>
</body>
</html>